absl-py==0.13.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
anyio==3.3.0
argcomplete==1.10.0
argon2-cffi==20.1.0
asgiref==3.4.1
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.8.0
bleach==3.3.1
blis==0.7.4
browsermob-proxy==0.8.0
cached-property==1.5.2
cachetools==4.2.2
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.3
click==7.1.2
colorutils==0.3.0
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
datasets==1.9.0
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
Deprecated==1.2.12
dill==0.3.4
docx2txt==0.8
EbookLib==0.17.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.1.0/en_core_web_lg-3.1.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.3
extract-msg==0.23.1
fastapi==0.66.1
filelock==3.0.12
frozendict==2.0.6
fsspec==2021.7.0
future==0.18.2
genanki==0.11.0
gensim==4.1.2
google-auth==1.33.0
google-auth-oauthlib==0.4.4
greenlet==1.1.0
grpcio==1.38.1
h11==0.12.0
httptools==0.2.0
huggingface-hub==0.0.12
idna==3.2
IMAPClient==2.1.0
ipykernel==6.0.3
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.2
jupyterlab-widgets==1.0.0
jwcrypto==0.9.1
kiwisolver==1.3.1
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mpld3==0.5.5
multidict==5.1.0
multiprocess==0.70.12.2
murmurhash==1.0.5
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
neo4j==4.3.3
nest-asyncio==1.5.1
networkx==2.6.2
nltk==3.6.2
notebook==6.4.0
numpy==1.21.1
oauthlib==3.1.1
olefile==0.46
ordered-set==4.0.2
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.2
pathy==0.6.0
patsy==0.5.2
pdfminer.six==20181108
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pke @ git+https://github.com/boudinfl/pke.git@49d3522849cf598f24be9ed102be66f720963fca
plotly==5.3.0
preshed==3.0.5
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.8.2
pyDeprecate==0.3.0
Pygments==2.9.0
pygraphviz==1.7
PyLaTeX==1.4.1
pyparsing==2.4.7
pyrsistent==0.18.0
pysbd==0.3.4
pystache==0.5.4
python-dateutil==2.8.2
python-dotenv==0.19.0
python-multipart==0.0.5
python-pptx==0.6.18
pytorch-lightning==1.3.8
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.7.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.7.1
sense2vec==2.0.0
sentence-transformers==2.1.0
sentencepiece==0.1.91
six==1.12.0
sklearn==0.0
smart-open==5.1.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.1.1
spacy-legacy==3.0.8
SpeechRecognition==3.8.1
SQLAlchemy==1.4.21
srsly==2.4.1
starlette==0.14.2
statsmodels==0.13.1
svgwrite==1.4.1
tenacity==8.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminado==0.10.1
testpath==0.5.0
textract==1.6.3
thinc==8.0.8
threadpoolctl==2.2.0
tika==1.24
tokenizers==0.10.3
toml==0.10.2
torch==1.10.0.dev20210719+cu111
torchaudio==0.10.0.dev20210720
torchmetrics==0.4.1
torchvision==0.11.0.dev20210720+cu111
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
transformers==4.8.2
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==1.5.1
Unidecode==1.2.0
urllib3==1.26.6
uvicorn==0.14.0
uvloop==0.15.3
wasabi==0.8.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
websockets==9.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.4.4
xxhash==2.0.2
yarl==1.6.3
